<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body style="text-align: center">
<h1 style="font-size: 50pt; color: red"><%= title %></h1>
<p>Welcome to <%= title %> </p>
<a href="/getAllUsers">Get All User <br></a>
<a href="/displayUsers">Display User</a>

<% if (message){ %>
    <h1><%= message %></h1>
<% } %>
<form action="/createUser" method="POST"
      enctype="application/x-www-form-urlencoded">
    <div style="display: flex; flex-direction: column; flex: auto;gap: 10px">
        <input name="name" placeholder="Enter name...">
        <input name="phone" placeholder="Enter Age...">
        <button type="submit">Create User</button>
    </div>
</form>
</body>
</html>
